---
import Button from '~/components/ui/Button.astro';

import type { Hero as Props } from '~/types';

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  taglines,

  actions = await Astro.slots.render('actions'),

  id,
} = Astro.props;
---

<section class="h-screen text-center grid grid-cols-1 place-content-center" {...id ? { id } : {}}>
  <div>
    {
      title && (
        <h1
          class="text-4xl md:text-6xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200"
          set:html={title}
        />
      )
    }
    {
      taglines &&
        taglines.map((tagline) => (
          <>
            <p
              class="text-base text-secondary dark:text-blue-200 font-bold tracking-wide uppercase"
              set:html={tagline}
            />
          </>
        ))
    }
    <div class="max-w-3xl mx-auto">
      {subtitle && <p class="text-xl text-muted my-10 dark:text-slate-300" set:html={subtitle} />}

      {
        actions && (
          <div class="max-w-xs sm:max-w-md m-auto flex flex-nowrap flex-col sm:flex-row sm:justify-center gap-4">
            {Array.isArray(actions) ? (
              actions.map((action) => (
                <div class="flex w-full sm:w-auto">
                  <Button {...(action || {})} class="w-full sm:mb-0" />
                </div>
              ))
            ) : (
              <Fragment set:html={actions} />
            )}
          </div>
        )
      }
    </div>
  </div>
</section>
