---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import Steps from '~/components/widgets/Steps.astro';
import Brands from '~/components/widgets/Brands.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const resumeUrl = import.meta.env.URL_RESUME || '/';

const metadata = {
  title: 'Home',
};
---

<Layout metadata={metadata}>
  <Hero
    taglines={['Web Technology Enthusiast', 'Specializing in TypeScript, GO']}
    actions={[
      { variant: 'primary', text: 'More About Me', href: '#about' },
      { text: 'Get in touch', href: '#contact' },
    ]}
  >
    <Fragment slot="title">
      Hi, I'm <span class="text-secondary hover:text-primary highlight"> Achsan </span>
    </Fragment>

    <Fragment slot="subtitle">
      Passionate developer to crafting highly functional, integrated and secure websites.
      <br />
      <span class="hidden sm:inline">
        Beyond coding, I find humor in the world of IT memes. Thank you,
        <span class="font-semibold">ProgrammerHumor</span>.
      </span>
    </Fragment>
  </Hero>

  <Content
    id="about"
    title="Welcome to my development journey!"
    image={{
      src: '~/assets/images/hero-image-white.png',
      alt: 'AstroWind Hero Image',
    }}
    isDark={true}
    actions={[
      {
        isIconFirst: true,
        icon: 'tabler:file-cv',
        text: 'Resume',
        target: '_blank',
        href: resumeUrl,
      },
      {
        isIconFirst: true,
        icon: 'tabler:mail',
        variant: 'primary',
        text: 'Hire Me',
        href: 'mailto:achsanh@gmail.com',
      },
    ]}
  >
    <Fragment slot="content">
      <p>
        As a dedicated web developer, I am passionate about transforming your needs into dynamic, cutting-edge web
        solutions that elevate your digital presence. With over 4 years of hands-on experience and a solid track record
        as a freelancer for the past 2 years, I am committed to continuously expanding my skills and embracing new
        challenges to stay at the forefront of web technology.
      </p>
      <br />
      <p>
        I am particularly interested in advancing my knowledge in web technologies, mastering web frameworks, improving
        security measures, and exploring the potential of blockchain in web development. My goal is simple: to deliver
        secure, integrated, and highly functional websites that stand out.
      </p>
      <br />
      <p>Let's collaborate to bring your ideas to life.</p>
    </Fragment>
  </Content>

  <Steps
    id="resume"
    title="Work experience"
    items={[
      {
        title:
          '<span class="font-normal">Freelancer</span> <br /> <span class="text-sm font-normal">2022 - Present</span>',
        description: [
          'Ensure projects meet specifications and requirements.',
          'Optimize development processes for faster deployment to end users.',
          'Implement security practices in accordance with OWASP Top 10.',
          'Provide valuable suggestions and alternative solutions to enhance project outcomes.',
          'Collaborate with junior developers to facilitate problem-solving and skill development.',
        ],
        icon: 'tabler:briefcase',
      },
      {
        title:
          '<span class="font-normal">Sanbersy X Elnusa</span> <br /> <span class="text-sm font-normal">2021 - 2023</span>',
        description: [
          'Develop scalable products that integrate effectively with third-party services.',
          'Create scripts to automate repetitive tasks, boosting efficiency and minimizing manual errors.',
          'Collaborate with fellow developers to achieve enterprise-level application goals.',
          'Apply Scrum methodology to accelerate project delivery and improve team collaboration.',
        ],
        icon: 'tabler:briefcase',
      },
      {
        title:
          '<span class="font-normal">CV Prosini</span> <br /> <span class="text-sm font-normal">2019 - 2020</span>',
        description: [
          'Start as a Web Developer and contribute to various projects.',
          'Build a quick count election dashboard.',
          'Build web and mobile applications for monitoring shrimp ponds.',
        ],
        icon: 'tabler:briefcase',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <Brands
    title="Technology"
    subtitle="Few technologies I've been using"
    icons={[
      'logos:go',
      'logos:typescript-icon',
      'logos:vue',
      'logos:nuxt-icon',
      'logos:express',
      'logos:nestjs',
      'logos:postgresql',
      'logos:mongodb',
    ]}
    isDark={true}
  />

  <CallToAction
    id="contact"
    title="Let's Collaborate"
    actions={[
      {
        isIconFirst: true,
        icon: 'tabler:mail',
        variant: 'primary',
        text: 'Send me a message',
        href: 'mailto:achsanh@gmail.com',
      },
    ]}
  >
    <Fragment slot="subtitle">
      <p>Whether you have an exciting project, job opportunity or just want to say hi.</p>
      <p>Let me know.</p>
    </Fragment>
  </CallToAction>
</Layout>
