---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import Steps from '~/components/widgets/Steps.astro';
import Brands from '~/components/widgets/Brands.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Home',
};
---

<Layout metadata={metadata}>
  <Hero
    taglines={['Web Technology Enthusiast', 'Specializing in JavaScript, TypeScript, NodeJS and VueJS']}
    actions={[
      { variant: 'primary', text: 'More About Me', href: '#about' },
      { text: 'Get in touch', href: '#contact' },
    ]}
  >
    <Fragment slot="title">
      Hi, I'm <span class="text-secondary hover:text-primary highlight"> Achsan </span>
    </Fragment>

    <Fragment slot="subtitle">
      Passionate developer to crafting highly functional, integrated and secure websites.
      <br />
      <span class="hidden sm:inline">
        Beyond coding, I find humor in the world of IT memes. Thank you, <span class="font-semibold"
          >ProgrammerHumor</span
        >.
      </span>
    </Fragment>
  </Hero>

  <Content
    id="about"
    title="About Me"
    image={{
      src: '~/assets/images/hero-image-white.png',
      alt: 'AstroWind Hero Image',
    }}
    isDark={true}
    callToAction={{
      isIconFirst: true,
      icon: 'tabler:file-cv',
      variant: 'primary',
      text: 'Resume',
      href: 'mailto:achsanh@gmail.com',
    }}
  >
    <Fragment slot="content">
      <p>
        Welcome to my development journey! As a dedicated web developer, I'm committed to digitalizing your needs and
        elevating your digital presence with dynamic, cutting-edge web solutions.
      </p>
      <br />
      <p>
        With over 4 years of expertise in JavaScript, and started in side work as freelancer since 2 years ago to expand
        my skills and embrace new challenges. I thrive on mastering web frameworks, enhancing security measures
      </p>
      <!-- <br />
      <p>
        My goal is simple: to deliver secure, integrated, and highly functional websites that blend innovation with
        user-centric design. Let's collaborate and bring your ideas to life with top-tier front-end and back-end
        solutions.
      </p> -->
    </Fragment>
  </Content>

  <Steps
    id="resume"
    title="Work experience"
    items={[
      {
        title:
          '<span class="font-normal">Freelancer</span> <br /> <span class="text-sm font-normal">2022 - Present</span>',
        description: `
          Ensure projects meet specifications and requirements.<br />
          Optimize development processes for faster deployment to end users.<br />
          Implement security practices in accordance with OWASP Top 10.<br />
          Provide valuable suggestions and alternative solutions to enhance project outcomes.<br />
          Collaborate with junior developers to facilitate problem-solving and skill development.<br />
        `,
        icon: 'tabler:briefcase',
      },
      {
        title:
          '<span class="font-normal">Sanbersy X Elnusa</span> <br /> <span class="text-sm font-normal">2021 - 2023</span>',
        description: `
          Develop scalable products that integrate effectively with third-party services.<br />
          Create scripts to automate repetitive tasks, boosting efficiency and minimizing manual errors.<br />
          Collaborate with fellow developers to achieve enterprise-level application goals.<br />
          Apply Scrum methodology to accelerate project delivery and improve team collaboration.<br />
        `,
        icon: 'tabler:briefcase',
      },
      {
        title:
          '<span class="font-normal">CV Prosini</span> <br /> <span class="text-sm font-normal">2019 - 2020</span>',
        description: `
          Start as a Web Developer and contribute to various projects.<br />
          Build a quick count election dashboard.<br />
          Build web and mobile applications for monitoring shrimp ponds.<br />
        `,
        icon: 'tabler:briefcase',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <Brands
    title="Technology"
    subtitle="Few technologies I've been using"
    icons={[
      'logos:javascript',
      'logos:typescript-icon',
      'logos:vitejs',
      'logos:vue',
      'logos:nuxt-icon',
      'logos:tailwindcss-icon',
      'logos:nodejs',
      'logos:express',
      'logos:nestjs',
      'logos:postgresql',
      'logos:mysql',
      'logos:mongodb',
    ]}
    isDark={true}
  />

  <CallToAction
    id="contact"
    title="Let's Collaborate"
    actions={[
      {
        isIconFirst: true,
        icon: 'tabler:mail',
        variant: 'primary',
        text: 'Send me a message',
        href: 'mailto:achsanh@gmail.com',
      },
    ]}
  >
    <Fragment slot="subtitle">
      <p>Whether you have an exciting project, job opportunity or just want to say hi.</p>
      <p>Let me know.</p>
    </Fragment>
  </CallToAction>
</Layout>
